/.vs
/OpenQuickSlotUse/.vs
/OpenQuickSlotUse/.vs/bin
/OpenQuickSlotUse/.vs/obj
/OpenQuickSlotUse/.vs/release
/OpenQuickSlotUse/References/Bepinex/*
/OpenQuickSlotUse/References/EFT/*
/OpenQuickSlotUse/References/SPT/*
/OpenQuickSlotUse/bin
/OpenQuickSlotUse/obj
